// variables

$websiteWidth: 1280px;
$main-color: #d48cf8;
// other options: #ff333d; //#88d317;

$light-color: #f4f4f4;
$white: #fff;

$dark-color: #333;
$middle-color: #ccc;

$bgImage: url("../images/b&w-yacht2.jpg");
